body {
    background-color: rgb(77, 64, 88);
}

.links {
    padding-top: 20px;
    text-align: center;
    background-color: rgb(77, 64, 88);
    ;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px 4px rgb(38, 185, 188);
    color: white;
}

.mSettings {
    text-align: center;
    color: rgb(218, 238, 87);
}

#canvasClastorization,
#canvasA,
#canvasAntSimulation,
#canvasGeneticAlg {
    padding: 0;
    margin: auto;
    display: block;
    border: 0px solid rgb(35, 35, 61);
    background-color: rgb(209, 209, 209);
}

#HierarhKoef {
    width: 300px;
}

a:link,
a:visited {
    color: rgb(76, 210, 204);
    background-color: transparent;
    text-decoration: none;
}