body {
  background-color:rgb(77, 64, 88);
}

header
{
  text-align: center;
  background-color: rgb(89, 74, 102);
}

#settingsA{
  float: left;
}

#canvasA {
  padding: 0;
  margin: auto;
  display: block;
  border:5px solid rgb(35, 35, 61);
  background-color:rgb(209, 209, 209);
  ;
}

footer
{
  text-align: center;
  background-color: rgb(89, 74, 102);
}